@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --color-one: #232323;
    --color-two: #F6D8C3;
    --color-three:#EFEFEF;
    --color-four:#777777;
    --font: 'DM Sans', sans-serif;
}

* {
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
body {
    font-family: var(--font);
    background-color: var(--color-three);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 575px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

a {
    text-decoration: none;
}
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    border-radius: 8px;
    margin: 0 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: 1px solid white;
}